//@import '@elemental-ui/core/src/styles/_eui_palette.scss';
.page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
    background-color: white;
  }
  
  
  .pageContent {
    margin: 20px 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: inherit;
  }
  
  .titulo {
    font-size: larger;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;

  }

  .imx-type-radiogroup{
  display: flex;
  flex-direction: column;
  margin: 15px 0; 
  
  }

.imx-type-radiobuttom{

color: primary;



 }


  .imx-selection-stepper {
    //flex: 1 1 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px;
    overflow: hidden;

  }
  
  .mat-headline {
    line-height: 40px;
    margin-left: 2em;
    
  }


  .captcha-container {
    display: flex;
  
    input {
     // flex: 1 2 auto;
      width: inherit;
    }
  }  

  
  .mat-slider {
    width: 60000px;
    flex-grow: 2;
  }
 
  .form-control-lg{
    border: none;
    background-color:white;
    color: rgb(0, 195, 255);
    
}

.imx-top-alert {
  //display: block;
  //margin: 1em 0;
  margin: 15px 0; 
}
