
<div class="page">
  <imx-mast-head></imx-mast-head>
  <br> 
  <br> 

  <h1 class="mat-headline">
  <div>Procedimiento de Cambio o Recuperación de Contraseña</div>
 
  </h1>

  <eui-alert *ngIf="errorNoDatos" [condensed]="true" [colored]="true" type="error"  [dismissable]="true"  (dismissed)="LimpiarErrorLogin()">
    <span translate>No tiene definidos los parámetros que permiten la renovación de su contraseña de acceso. Por favor, contacte con nuestro centro de atención al usuario o el administrador de su entidad.</span>
</eui-alert>

<eui-alert *ngIf="errorLogin" [condensed]="true" [colored]="true" type="error"  [dismissable]="true"  (dismissed)="LimpiarErrorLogin()">
  <span translate>Por favor, contacte nuestro centro de atención al usuario.</span>
</eui-alert>

  <eui-alert *ngIf="errorCaptcha" [condensed]="true" [colored]="true" type="error"  [dismissable]="true"  (dismissed)="Anterior()">
      <span translate>Código captcha incorrecto.</span>
  </eui-alert>
    
  <eui-alert *ngIf="errorPascode"[condensed]="true" [colored]="true" type="error"  [dismissable]="true" (dismissed)="Anterior()" >
    <span translate>Pin de acceso introducido no válido. </span>
  </eui-alert>

  <eui-alert *ngIf="errorPasswd"[condensed]="true" [colored]="true" type="error"  [dismissable]="true" (dismissed)="LimpiarErrorPaswd()" >
    <span translate>Las contraseñas no coinciden</span>
  </eui-alert>
  <eui-alert *ngIf="errorCheckPasswd"[condensed]="true" [colored]="true" type="error"  [dismissable]="true" (dismissed)="LimpiarErrorPaswd()" >
    <span translate>La contraseña no cumple con los requisitos necesarios. Pulse el botón "Requisitos de Contraseña" para más información.</span>
  </eui-alert>


  <mat-card class="imx-delegation-stepper">
    <div>
    
      <mat-stepper linear #stepper >
        
        <!--PRIMER PASO-->
        <mat-step [stepControl]="firstFormGroup"  class="mat-step-header">

          <ng-template matStepLabel>Seleccione e introduzca nombre de usuario</ng-template>
            <ng-container>
              <div>
                <mat-radio-group  class="imx-type-radiogroup" color="primary"  [(ngModel)]="ConPinTemporal" data-imx-identifier="ConPinTemporal" (change)="ModificaOpcionSeleccionada()">
                  <mat-radio-button [value]="false" data-imx-identifier="ConPinTemporal-false" class="custom-letra">
                  Solicitar pin temporal de recuperación de contraseña
                  </mat-radio-button>
                  <mat-radio-button [value]="true" data-imx-identifier="ConPinTemporal-true" class="custom-letra">
                    He recibido un pin temporal para el cambio de contraseña
                  </mat-radio-button>
                </mat-radio-group>
              </div>
        
              <form [formGroup]="firstFormGroup" >  
                <mat-form-field>
                  <mat-label>Usuario</mat-label>
                    <input matInput  class= "custom-letra" formControlName="firstCtrl" data-imx-identifier="Login" placeholder="Login"  [(ngModel)]="Login" required>
                </mat-form-field>
              </form>
            </ng-container>
  
            <!--Llamo a VerDatosR si estoy solicitando pin y el campo login está relleno-->
            <div>
                <button mat-stroked-button *ngIf="firstFormGroup" matStepperNext color="primary" (click)="ConPinTemporal === false && Login ? VerDatosR() : null" class="boton">Siguiente</button>
              </div>
 
        </mat-step>

        <!--segundo paso-->

        <!--<mat-step  [stepControl]="secondFormGroup">-->
          <mat-step class="mat-step-header">
            <ng-template matStepLabel>Solicitud de recuperacion de contraseña con PIN para la cuenta 
              <input class="form-control-lg border-0" [(ngModel)]="Login">
            </ng-template>

            <!--No tiene Pin Temporal -->
        
            <div *ngIf="!ConPinTemporal">
              <div *ngIf="maskedEmail || maskedPhoneMobile">
                <p class="pin-header">Recibir PIN en:</p>
                <div *ngIf="maskedEmail">
                  <p class="masked-info">Correo electrónico: {{ maskedEmail }}</p>
                </div>
                <div *ngIf="maskedPhoneMobile">
                  <p class="masked-info">Teléfono móvil: {{ maskedPhoneMobile }}</p>
                </div>
                <br>
                <mat-form-field [style.width.px]=350>
                  <input matInput data-imx-identifier="Pin" class ="custom-letra" [(ngModel)]="Pin" #pinInput>
                </mat-form-field>
              </div>
             
            </div>
      
        <!--Tiene Pin Temporal -->
            <!--<div  *ngIf="ConPinTemporal">
              <mat-form-field>
                <mat-label class="custom-letra">Pin de acceso:</mat-label>
                  <input matInput [(ngModel)]="PinAcceso" type="password" (input)="Anterior()">
                </mat-form-field> 
            </div>-->
        
             <!--Tiene Pin Temporal -->
          <div *ngIf="ConPinTemporal">
            <div class="icon-text-container">
              <mat-icon>vpn_key</mat-icon>
              <p class="custom-letra">&nbsp;&nbsp;Introduzca el PIN de acceso recibido:&nbsp;     
              <!--<mat-form-field [style.width.px]=350>
                <mat-label>Introduzca el pin de acceso recibido:</mat-label>
                
              </mat-form-field> -->
              <input  class="rounded-input" #pinAccesoInput [(ngModel)]="PinAcceso" type="password" (input)="Anterior()"></p>
            </div>
          </div>
        
          <div *ngIf="ConPinTemporal">
            <div class="captcha-container">
              <div>
                <form [formGroup]="secondFormGroup"> 
                  <p class="custom-letra">Introduzca el código de seguridad que aparece en la imagen para verificar su identidad:</p>
                  <input class="rounded-input" formControlName="secondCtrl" type="text" [(ngModel)]="captchaSvc.Response" [attr.data-imx-identifier]="'captcha-code'" [required]="true" (input)="Anterior()"> &nbsp;
                  <button class="captcha-button" mat-raised-button class="captcha-button" (click)="ReinciciarCaptcha()">
                    <mat-icon >cached</mat-icon>
                  </button>	 
                </form>
                <p><imx-captcha></imx-captcha></p>
                
                <div *ngIf="captchaCorrecto" class="label-with-check">
                  Captcha correcto
                  <span class="check-icon">✔️</span>
                </div>
              </div>
            </div>    
            <br>
            <br>
          </div> 


            <div>
              <!--Solicito un pin Temporal-->
              <div *ngIf="!ConPinTemporal"> 
                  <button mat-stroked-button class="boton" color="primary" matStepperPrevious  *ngIf="maskedEmail || maskedPhoneMobile || errorLogin ||errorNoDatos" (click)="LimpiarErrorLogin()"   color="primary">Anterior</button>
                  <button mat-stroked-button class="boton" color="primary" (click)="EnviarPin()" *ngIf="maskedEmail || maskedPhoneMobile">Enviar Pin</button>
                </div>
          
            <!--Tiene Pin Temporal -->
              <div *ngIf="ConPinTemporal">
                  <button mat-stroked-button  class="boton" matStepperPrevious (click)="Anterior()" color="primary">Anterior</button>
                  <button mat-stroked-button  class="boton" [disabled]="secondFormGroup.invalid"  (click)="VerificarAcceso()" color="primary">Aceptar</button>
                </div> 
              </div>
            
      </mat-step>
      
<!--3 paso -->
   
      <!--<mat-step [stepControl]="ThirdFormGroup">-->
        <mat-step class="mat-step-header">
        <ng-template matStepLabel>Establecer Nueva Contraseña</ng-template>
      
          <!--<div *ngIf="tercerPaso">-->
          <!--  Establezca una nueva contraseña. Le recordamos que los cambios pueden tardar hasta un minuto en ser efectivos.-->
               <button mat-raised-button  (click)="RequisitosPasswd()" color="primary">Requisitos de Contraseña </button>
               <div></div>
               <br>
                <div></div>
          
         <form [formGroup]="ThirdFormGroup" >  
         
            <div>

              <mat-form-field  [style.width.px]=350>
                  <mat-label>Nueva contraseña:</mat-label>
                    <input matInput  formControlName="ThirdFormCtrl" data-imx-identifier="NuevaPasswd"  [(ngModel)]="NuevaPasswd" (input)="LimpiarErrorPaswd()" type="password" required>
                    <!--<input matInput data-imx-identifier="NuevaPasswd" value="" [(ngModel)]="NuevaPasswd" (input)="LimpiarErrorPaswd()" type="password">-->
                </mat-form-field> 
            </div>
            <div>
                <mat-form-field  [style.width.px]=350>
                  <mat-label>Repetir la contraseña:</mat-label>
                  <input matInput formControlName="FourFormCtrl" data-imx-identifier="RepetirPasswd" [(ngModel)]="RepetirPasswd" (input)="LimpiarErrorPaswd()" type="password" required>
                  <!--  <input matInput  data-imx-identifier="RepetirPasswd" [(ngModel)]="RepetirPasswd" (input)="LimpiarErrorPaswd()" type="password">-->
                  </mat-form-field> 
            </div>
            
            <button mat-stroked-button [disabled]="ThirdFormGroup.invalid" (click)="CambiarPasswd()" color="primary">Aceptar</button>
            
          </form>
          
          <!--</div>-->
      </mat-step>
      
  </mat-stepper>
  </div>
</mat-card>







</div>
