
<div class="page">
    <imx-mast-head></imx-mast-head>
<br> 
<br> 

<h1 class="mat-headline">
 <div>Procedimiento de Cambio o Recuperación de Contraseña</div>
 
</h1>



  <eui-alert *ngIf="!resCodigo" type="error" [condensed]="true" [dismissable]="true"  (dismissed)="onCodigoDismissed()">
      <span translate>Código incorrecto.</span>
  </eui-alert>
  
  <eui-alert *ngIf="errorSolicitud"[condensed]="true" [colored]="true" type="error"  [dismissable]="true"  (dismissed)="onCodigoDismissed()" >
    <span translate>No se puede encontrar una combinación de cuenta y datos de recuperación aportados. </span>
    <span translate>Por favor, verifique su perfil. Puede contactar con nosotros a través del telefóno de asistencia. Gracias</span>
  </eui-alert>

  <eui-alert *ngIf="alertPin"[condensed]="true" [colored]="true" type="info"  [dismissable]="true" (dismissed)="onCodigoCorrecto()">
    <!--<eui-alert *ngIf="alertPin"[condensed]="true" [colored]="true" type="info"  [dismissable]="true" (dismissed)="stepper.reset()">-->
    <span translate>En unos momentos recibirá un PIN para el reinicio de contraseña. Revise su cuenta o dispositivo </span>
  </eui-alert>


<mat-card class="imx-delegation-stepper">
  <div>
    
    <mat-stepper linear #stepper >
      <mat-step  [stepControl]="firstFormGroup"  [editable]="!errorSolicitud && !alertPin">
       <ng-template matStepLabel>Seleccione e introduzca nombre de usuario</ng-template>
        <ng-container>
          <div>
          <mat-radio-group  class="imx-type-radiogroup" color="primary"  [(ngModel)]="ConPinTemporal" data-imx-identifier="ConPinTemporal" (change)="ModificaOpcionSeleccionada()">
            <mat-radio-button [value]="false" data-imx-identifier="ConPinTemporal-false" >
              Solicitar pin temporal de recuperación de contraseña
            </mat-radio-button>
            <mat-radio-button [value]="true" data-imx-identifier="ConPinTemporal-true">
              He recibido un pin temporal para el cambio de contraseña
            </mat-radio-button>
          </mat-radio-group>
        </div>
        
        <form [formGroup]="firstFormGroup" >  
          <mat-form-field>
            <mat-label>Usuario</mat-label>
            <input matInput  formControlName="firstCtrl" data-imx-identifier="Login" placeholder="Login"  [(ngModel)]="Login" required>
          </mat-form-field>
          </form>
        </ng-container>
        
        
        <!--<div *ngIf="ConPinTemporal">hola</div>-->

        <div>
          <button mat-raised-button *ngIf="firstFormGroup" matStepperNext color="primary">Siguiente</button>
        </div>
 
      </mat-step>

      <mat-step  [stepControl]="secondFormGroup">
        <ng-template matStepLabel>Solicitud de recuperacion de contraseña con PIN para la cuenta 
          <input class="form-control-lg border-0" [(ngModel)]="Login">
        </ng-template>

              
       
          <!--<mat-form-field>
         <mat-label *ngIf="!ConPinTemporal">Recibir PIN en:</mat-label>
         <mat-label *ngIf="ConPinTemporal">Pin de acceso:</mat-label> 
          <form [formGroup]="secondFormGroup" >  
          <input matInput  formControlName="secondCtrl" [required]="true">
          </form>
          </mat-form-field> -->
        
        
        <!--No tiene Pin Temporal -->
        
        <div *ngIf="!ConPinTemporal">
          <div>
            Indique la dirección de correo o el móvil configurados en su perfil para recuperación de contraseña.
          </div>
          <div>
          Le recordamos que debe haber cumplimentado los datos correspondientes en su perfil de usuario.
        </div>
        <br>
          <mat-form-field>
            <mat-label>Recibir PIN en:</mat-label>
              <input matInput  data-imx-identifier="Pin" [(ngModel)]="Pin">
            </mat-form-field> 
        </div>
      
        <!--Tiene Pin Temporal -->
        <div  *ngIf="ConPinTemporal">
          <mat-form-field>
            <mat-label>Pin de acceso:</mat-label>
            <input matInput  >
          </mat-form-field> 
        </div>
        
        <div  *ngIf="ConPinTemporal">
          <div class="captcha-container"></div>
          <div>
            <form [formGroup]="secondFormGroup" > 
            <input placeholder="Introduzca los caracteres" formControlName="secondCtrl" type="text"
              [(ngModel)]="captchaSvc.Response" [attr.data-imx-identifier]="'captcha-code'" [required]="true" (change)="CompruebaCaptcha()"  >
              
            </form>
                <imx-captcha></imx-captcha><button mat-raised-button (click)="captchaSvc.ReinitCaptcha()">{{
                  '#LDS#Refresh image' | translate}}</button>	 
          </div>
        </div>
      
        <br>
        <br>
        
              

        <div>
          <!--Solicito un pin Temporal-->
          <div *ngIf="!ConPinTemporal"> 
           <button mat-raised-button   matStepperPrevious  *ngIf="!alertPin && !errorSolicitud" (click)="onCodigoDismissed()"  color="primary">Anterior</button>
          <button mat-raised-button   *ngIf="!alertPin && !errorSolicitud" color="primary" (click)="EnviarPin()">Enviar Pin</button>
          </div>
          
            <!--Tiene Pin Temporal -->
            <div *ngIf="ConPinTemporal">
            <button mat-raised-button   matStepperPrevious (click)="onCodigoDismissed()"  color="primary">Anterior</button>
            <button mat-raised-button [disabled]="secondFormGroup.invalid" matStepperNext  (click)="EnviarPin()" color="primary">Aceptar</button>
            </div> 
        </div>

      </mat-step>
  </mat-stepper>
  </div>
</mat-card>






<!--<mat-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup" >  
     
      <ng-template matStepLabel>Seleccione e introduzca nombre de usuario</ng-template>
      <div>
        <mat-radio-group color="primary" class="imx-type-radiogroup" data-imx-identifier="PinTemporal" [(ngModel)]="IsSelected"  [ngModelOptions]="{standalone: true}" >
        <mat-radio-button [value]="PinTemporalSi" data-imx-identifier="PinTemporal-true" checked="true">
          Solicitar pin temporal de recuperación de contraseña
        </mat-radio-button>
        <mat-radio-button  [value]="PinTemporalNo" data-imx-identifier="PinTemporal-false" checked="false">
          He recibido un pin temporal para el cambio de contraseña
        </mat-radio-button>
        </mat-radio-group>
     </div>

      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input matInput formControlName="firstCtrl" placeholder="Login" required>
      </mat-form-field>

      <div *ngIf="IsSelected === 'true'">
          <mat-label>hola</mat-label>
      </div>
      <div *ngIf="IsSelected === 'false'">
        <mat-label>adios</mat-label>
    </div>


      <div>
        <button mat-button matStepperNext color="primary">Siguiente</button>
      </div>

      

    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup" >
    
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Solicitud de envío de PIN para recuperación de contraseña</ng-template>
      <ng-container *ngIf="IsSelected === 'true'">
        <mat-form-field>
          <mat-label>Recibir PIN en:</mat-label>
          <input matInput formControlName="secondCtrl"  required>
        </mat-form-field>
        </ng-container>

      <ng-container *ngIf="IsSelected === 'false'">
        <mat-form-field>
          <mat-label>Pin de acceso:</mat-label>
          <input matInput formControlName="secondCtrl"  required>
        </mat-form-field>
        

    <div class="captcha-container">
        <imx-captcha></imx-captcha>

        <input placeholder="{{'#LDS#Enter characters from the image' | translate}}" type="text"
            [(ngModel)]="captchaSvc.Response" [attr.data-imx-identifier]="'captcha-code'" [required]="true">
    </div>

    <div class="buttonbar">
        <button mat-raised-button (click)="captchaSvc.ReinitCaptcha()">{{
            '#LDS#Refresh image' | translate}}</button>
       
    </div>
      </ng-container>


      <div>
        <button mat-button matStepperPrevious>Anterior</button>
        <button mat-button matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>-->











</div>
