<div>
    <h1 mat-dialog-title>Requisitos de Contraseña</h1>
    <mat-dialog-content>
      
        <p>Su contraseña debe cumplir los siguientes requisitos (política de contraseña: {{_visorPassword.Title}})</p>
        <div class="imx-message-CreatePassCode">La longitud de la contraseña debe estar entre: {{_visorPassword.MinLen}} y {{_visorPassword.MaxLen}}</div>
        <div class="imx-message-CreatePassCode">Los siguientes caracteres no están permitidos en la contraseña: {{_visorPassword.SpecialCharsDenied}}</div>
        <div class="imx-message-CreatePassCode">No puede reutilizar las: {{_visorPassword.HistoryLen}}  anteriores</div>

      <!--</ng-template>-->
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" mat-dialog-close>cerrar</button>
    </mat-dialog-actions>
  </div>
