<div>
  
    <h1  mat-dialog-title align="center"><b>AVISO</b></h1>
  

    <mat-dialog-content>

       <div *ngIf="_envioDatos && !_envioDatosOK">
        <div class="imx-message-envioDatos">No se puede encontrar una combinación de cuenta y datos de recuperación aportados.</div>
        <div class="imx-message-envioDatos">Por favor, verifique su perfil. Puede contactar con nosotros a través del telefóno de asistencia. Gracias</div>
      </div>

      <div *ngIf="_envioDatos && _envioDatosOK">
        <div class="imx-message-envioDatosOK">En unos momentos recibirá un PIN para el reinicio de contraseña. Revise su cuenta o dispositivo.</div>
      </div>

      <div *ngIf="!_envioDatos">
        <p>Contraseña cambiada con éxito para: <b> {{_visorPasswordOK.Login}}</b></p>
        <div class="imx-message-CambioOk">MUY IMPORTANTE: Espere unos segundos si desea acceder otra vez con las nuevas credenciales.</div>
        <div class="imx-message-CambioOk">Por favor, cierre todas las ventanas con aplicaciones de Eprinsa (GEX, RES. etc...) y vuelva a abirlas con su nueva contraseña. </div>
        <div class="imx-message-CambioOk">De no hacerlo, su cuenta puede quedar bloqueada y necesitará contactar con Eprinsa para poder seguir usándola. Gracias.</div>
    </div>

    </mat-dialog-content>
    
    
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" mat-dialog-close>cerrar</button>
    </mat-dialog-actions>
  </div>

