<div>
    <h1 mat-dialog-title>Aviso</h1>
    <mat-dialog-content>
      
        <p>Contraseña cambiada con éxito para: {{_visorPasswordOK.Login}}</p>
        <div class="imx-message-CreatePassCode">MUY IMPORTANTE: Espere unos segundos si desea acceder otra vez con las nuevas credenciales.</div>
        <div class="imx-message-CreatePassCode">Por favor, cierre todas las ventanas con aplicaciones de Eprinsa (GEX, RES. etc...) y vuelva a abirlas con su nueva contraseña. De no hacerlo, su cuenta puede quedar bloqueada y necesitará contactar con Eprinsa para poder seguir usándola. Gracias.</div>
        
      <!--</ng-template>-->
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="primary" mat-dialog-close>cerrar</button>
    </mat-dialog-actions>
  </div>

